body {
  font-family: Arial;
  background: #1e1e1e;
  color: white;
  text-align: center;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
}

.task {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 6px;
}

/* 🍞 Courses */
.task.Courses {
  background-color: #f39c12;
}

/* 💻 Travail */
.task.Travail {
  background-color: #3498db;
}

/* 🏠 Maison */
.task.Maison {
  background-color: #2ecc71;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}
